{
  "extends": ["plugin:github/typescript"],
  "env": {
    "browser": true,
    "es2021": true,
  },
  "plugins": ["github"],
  "overrides": [],
  "parserOptions": {
    "project": "./eslint.tsconfig.json",
  },
  "rules": {
    // "import/no-default-export": "error",
    // "import/prefer-default-export": "off",
    // "implicit-arrow-linebreak": "off",
    // "arrow-body-style": "off",
    // "no-restricted-syntax": "off"
    "@typescript-eslint/ban-ts-comment": [
      "error",
      {
        "ts-expect-error": "allow-with-description",
        "ts-ignore": true,
        "ts-nocheck": true,
        "ts-check": false,
        "minimumDescriptionLength": 3,
      },
    ],
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": false,
        "argsIgnorePattern": "^_",
      },
    ],
  },
}
