name: Lint & test
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  Lint-and-test:
    name: Lint and run tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
      - name: install
        run: npm ci
      - name: Lint
        run: npm run lint:report
        continue-on-error: true
      - name: Annotate Code Linting Results
        uses: ataylorme/eslint-annotate-action@v3
        with:
          markdown-report-on-step-summary: true
      - name: Build
        run: npm run build
      - name: Run tests
        run: npx vitest run

      - name: Run format
        run: npm run format

  Test-build:
    name: Test build output
    runs-on: ubuntu-latest
    needs: Lint-and-test
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
      - name: install
        run: npm ci
      - name: Test build output
        run: npm run test:build

      - name: Test package output
        run: npm run test:package